html, body {
    width: 600px;
}

body {
    margin-top: 20px;
    margin-bottom: 20px;
    /*position: relative;*/
}

/*.tag-bar {
    background: blue;
    width: 10px;
    height: 10px;
    display: inline;
}*/

.tab-detail {
    border: 1px #adadad solid;
    margin-bottom: 5px;
    padding: 2px 7px;
    border-radius: 3px;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#main {
	writing-mode: vertical-lr;
	-webkit-column-count: 6;
    height: 320px;
	width: 1800px;
}

#main-wrapper {
    overflow-y: scroll;
}

#search-bar {
    margin-bottom: 10px;
}

.button-icon {
    margin: 0;
    padding: 0;
}